.container {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.user-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.user-icon {
  color: #fff;
}

.logout-button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 1px dashed #00ced1;
  color: inherit;
}

.logout-text {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.logout-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.logout-button:hover .logout-text {
  opacity: 0;
  visibility: hidden;
}

.logout-button:hover .logout-icon {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    row-gap: 10px;
  }
  .user-container {
    margin-top: 4px;
    height: 42px;
  }
}
