.hero-image {
  display: flex;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 461px;
  overflow-y: hidden;
}

@media (max-width: 480px) {
  .hero-image {
    max-height: 388px;
  }
}
