.popper {
  padding: 10px;
  background-color: #00ced1;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 4px;
}

.icon {
  width: 30px;
  height: 30px;
  color: #00ced1;
  background-color: transparent;
}

.text {
  color: #333333;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}

.button:hover {
  color: #fff;
  background-color: #008b8b;
}

.button-icon:hover {
  background-color: red;
}

@media (max-width: 480px) {
  .button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 35px;
  }
}
