.nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}

.link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.2s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
  }
}
